body {
  background: black;
  color: white;
}
.main {
  height: 100vh;
  padding: 2rem;
  width: 100%;
}
@media (max-width: 495px) {
  .main {
    padding: 1rem 1rem 10rem;
  }
}
.social {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%;
}
.social a {
  color: white;
  display: inline-block;
  opacity: .6;
  padding: 2rem;
}
.social a:hover {
  opacity: 1;
}
a:hover .fa-spotify {
  color: #57B65F;
}
a:hover .fa-itunes {
  color: #E94A61;
}
.social svg {
  font-size: 3rem;
  transition: .2s all;
}
.album {
  background-image: url('../images/i-have-never-loved-myself.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: relative;
  transform: rotate(-2deg);
  width: 100%;
}

footer {
  bottom: 0;
  font-size: .8rem;
  opacity: .6;
  padding: .5rem;
  position: absolute;
  left: 0;
  right: 0;
  text-align: right;
}
